
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
section{
    height: 500px;
}
h2{
    font-size: 50px;
    color: rgb(17, 16, 16);
    
}
.name{
    color: red;
}
.top-text{
    width: 30%;
   padding-left: 10%;
    
}
.top-photo{
    width: 35%;
    margin-left: 30%;
    padding :2%;
}
.top-photo img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
     display: flex;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,black);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.dream-area{
    display: flex;
    
}
.mid-photo {
    width: 35%;
}
.mid-photo img{
    width: 100%;
}
.mid-text{
    width: 40%;
    text-align: right;
    padding-left: 15%;
    
}